.top-left-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(35deg);
  transform-origin: top left;
  background-image: url("./assets/bg-pattern-top.svg");
  background-size: cover;
  width: 150px;
  height: 150px;
}
