:root {
  /*Primary*/
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /*Neutral*/

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}
body {
  background-color: #19a1ad;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  color: var(--Very-dark-blue);
}
p {
  color: var(--Dark-grayish-blue);
}
